<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" style = "color:blueviolet">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="images.search.yahoo.com/yhs/search?p=free+ocean+images&fr=yhs-iba-syn&type=asbw_8063_CHW_US_tid20014&hspart=iba&hsimp=yhs-syn&imgurl=http%3A%2F%2Fwallpapercave.com%2Fwp%2FstAgN2w.jpg#id=20&iurl=http%3A%2F%2Fwallpapercave.com%2Fwp%2FstAgN2w.jpg&action=click"></div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://yourpositiveoasis.com/50-most-inspirational-quotes">Inspirational Quotes</a></h3>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

